:root {
    --gray-50: rgb(248, 250, 252);
    --gray-100: rgb(241, 245, 249);
    --gray-200: rgb(226, 232, 240);
    --gray-300: ;
    --gray-400: ;
    --gray-500: ;
    --gray-600: rgb(71, 85, 105);
    --gray-700: ;
    --gray-800: rgb(30, 41, 59);
    --gray-900: ;
    --green-100: rgb(4, 211, 97);
    --green-200: rgb(27, 135, 63);
    --purple-100: rgb(153, 109, 255);
    --purple-200: rgb(124, 58, 237);
    --orange: rgb(251, 169, 76);
    --white: #fff;
}
html {
    /* font-size: 6.25%; */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(140, 188, 236);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}
#app {
    background: var(--gray-100);
    min-height: 100vh;
    display: grid;
    align-items: center;
}
.cards {
    display: grid;
    width: 100%;
    gap: 40px;
}
.card {
    background: var(--white);
    padding: 24px;
    margin: auto 24px;
    border-radius: 10px;
    border: 1px solid var(--gray-200);
}
#essensiols {}
#essensiols #title {
    color: var(--purple-200);
    font-size: 14px;
    margin-bottom: 8px;
}
#essensiols #top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 20px;
}
#essensiols #top span {
    font-size: 18px;
}
#ultimate {}
#enterprise {}
