:root {
    --gray-50: rgb(248, 250, 252);
    --gray-100: rgb(241, 245, 249);
    --gray-200: rgb(226, 232, 240);
    --gray-300: ;
    --gray-400: ;
    --gray-500: ;
    --gray-600: rgb(71, 85, 105);
    --gray-700: ;
    --gray-800: rgb(30, 41, 59);
    --gray-900: rgb(15, 23, 42);
    --green-100: rgb(4, 211, 97);
    --green-200: rgb(27, 135, 63);
    --purple-100: rgb(153, 109, 255);
    --purple-200: rgb(124, 58, 237);
    --orange: rgb(251, 169, 76);
    --white: #fff;
}

html {
    /* font-size: 6.25%; */
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    background: var(--gray-100);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin: 80px 20px;
}

.plan {
    background: var(--white);
    min-height: 282px;
    padding: 24px;
    /* margin: auto 24px; */
    border-radius: 10px;
    border: 1px solid var(--gray-200);
}

.public {
    display: block;
    color: var(--purple-200);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .06em;
    margin-bottom: 8px;
}

.pricing-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 20px;
    margin-bottom: 16px;
}

.pricing-plan-title {
    font-weight: 700;
    font-size: 24px;
}

.pricing-plan-price {
    font-size: 18px;
}

.pricing-plan-price span:nth-child(2) {
    font-weight: 700;
    font-size: 20px;
}

.pricing-plan-price span:nth-child(3) {
    font-weight: 700;
}
.button {
    display: flex;
    padding: 16px;
    border: 1px solid var(--gray-800);
    border-radius: 4px;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--gray-800);
    outline: none;
    margin-bottom: 16px;
}

hr {
    margin-bottom: 16px;
    border-color: var(--gray-200);
}
.pricing-table ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing-table li {
    /* list-style-image: url("../img/check.svg"); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing-table li i {
    font-weight: 700;
    text-align: center;
}
.ph-check {
    font-size: 20px;
    color: var(--green-200);
}
.pricing-table li span {
    display: flex;
    align-items: center;
    letter-spacing: .06em;
    gap: 8px;
}
.ph-info {
    font-size: 16px;
    color: var(--gray-800);
    cursor: pointer;
}



#essensiols {}

#essensiols #top {}

#ultimate {
    background-color: var(--gray-900);
    color: var(--gray-50);
}
#ultimate .button {}
#ultimate .button {
    background-color: var(--purple-100);
    color: white;
}

#enterprise .pricing-plan-title {
    font-size: 32px;
}


/*transition animation*/
section .plan:hover {
    border-color: var(--color-purple-100);
  }
  
section .plan {
    transition: border 300ms;
  }
  
section:hover {
    transform: scale(1.05);
  }

section {
    transition: transform 300ms;
    animation: appear 400ms backwards var(--delay);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
}